*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #F1BB87;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:#F7EF99;
    background-color:#5D675B;


}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#F78E69 ;
    border: none;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#F78E69 ;
    border: none;
    border-radius: 1rem;   
}
#msg{
    color: #FFFF6B;
    font-size: 6vmin;
}
.msg-container{
    height: 70vmin;
    /* margin-top: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.undo{
    padding: 1rem;
    font-size: 1.75rem;
    background-color:#F78E69 ;
    border: none;
    border-radius: 1rem;
    text-align: center;   
    margin: 10px;

}
